body {
  font-family: 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.black-bg {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.text-center {
  display: flex;
  text-align: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.button-border {
  border: solid 2px #000;
  box-shadow: 2px 4px 0 0 #000;
}

.entry-button {
  background-color: #fff;
  border-radius: 2px;
  padding: 0.8rem 4rem;
}

.entry-button:hover {
  background-color: #95bcf2;
}
